* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    background-color: #66BB6A;
    height: 20vh;
    color: #ffffff;


    h2 {
        display: block;
        display: inline;
        display: inline-block;
        width: 40%;
        padding-left: 160px;
        margin-top: 40px;
        font-size: 3rem;
        font-family: "Sansita Swashed", sans-serif;
    }


    nav {
        display: block;
        display: inline;
        width: 40%;
        display: inline-block;
        text-align: end;

        a {
            font-size: 1.3rem;
            margin-left: 50px;
            color: #ffffff;
            text-decoration: none;
        }
    }
}

.background {
    height: 80vh;
    background-image: url("./assets/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding-top: 100px;

    h1 {
        font-size: 5rem;
        margin-bottom: 20px;
        font-family: "Sansita Swashed", sans-serif;
    }

    p {
        font-size: 2rem;
        width: 50%;
        margin-bottom: 20px;
        margin: 0 auto 20px;
    }

    button {
        background-color: #66BB6A;
        color: #ffffff;
        border: none;
        padding: 15px 30px;
        border-radius: 30px;
    }
}

.cards {
  background-color: #f1f8e9;
  text-align: center;
  padding: 50px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.card {
  width: 15vw;
  height: 50vh;
  background-color: #FFFFFF;
  border-radius: 15px;
  //border: solid #FFFFFF;
  display: inline-block;
  margin: 30px;

  img {
    width: 100%;
    //height: 46.24vh;
    border-radius: 15px 15px 0 0;
  }

  h3 {
    margin-top: 30px;
    font-size: 1.75rem;
  }

  p {
    margin-top: 10px;
  }

  button {
    margin-top: 30px;
    padding: 10px;
    background-color: #66bb6a;
    color: #ffffff;
    border: none;
    font-size: 1.25rem;
    border-radius: 20px;
  }
}